#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  height: 500px;
  object-fit: cover;
}

/* === Start Style SwitchText Component  === */
/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : max-content;
    height : 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid red;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 28px;

}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 25px;
    border-radius: 9px;
    background-color: red;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}

/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 50%;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: white;
}

/* Checkbox vanished */
.checkbox {
    display : none;
}
/* === End Style SwitchText Component  === */

